
.nav ul {
    list-style-type: none;
    display: inline-flex;
    padding: 5px 5px 5px 260px;
    text-transform: uppercase; 
    font-size: 14px;
    font-weight: 400; 
}
.nav ul li a:hover{
color: indianred;
}
ul li a {
    margin: 85px;
    color: #626262;
    font-family: 'Playfair Display', serif;
    text-decoration: none; 
}
h2 {
    color: #626262;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 30px;
}
h5 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #b4ad9e;
}
h5 a {
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        font-weight: 300;
        color: #b4ad9e;
        text-decoration: none;
}
.more {
    width: 450px;
}
.smaller a {
    color: #626262;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 30px;
    text-decoration: none;
}
p {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-weight: 400;
    font-size: 14px;
    width: 460px;
    line-height: 24px;
}
.wrapper {
 width: 350px;
 display: inline-block;
 padding: 0px 0px 0px 200px;
}
.button a {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 400;
    color: #626262;
    border: 1px solid #626262;
    padding: 15px 40px 15px 40px;
    text-decoration: none;
}
.button {
    margin-left: 600px;
    margin-top: 50px;
}
body {
    margin-bottom: 100px;
}
