.wrapper {
    width: auto;
    text-align: center;
}
.wrapper span {
    display: inline-block;
    width: 450px;
}
.nav ul {
    list-style-type: none;
    display: inline-flex;
    padding: 5px 5px 5px 260px;
}
.nav ul li a:hover{
color: indianred;
}
ul li a {
    margin: 85px;
    color: #626262;
    font-family: 'Playfair Display', serif;
}
h5, h2, p {
    color: #626262;
    font-family: 'Playfair Display', serif;
}
p {
    font-size: 10px;
    text-align: left;
    margin-left: 15px;
}   
h5.first {
    font-size: 10px;
    text-align: left;
    margin-left: 15px;
}
h2.first {
    font-size: 25px;
    text-align: left;
    margin-left: 15px;
}
h5.second {
    font-size: 10px;
    text-align: left;
    margin-left: 15px;
}
h2.second {
    font-size: 25px;
    text-align: left;
    margin-left: 15px;
}
.button {
    text-align: center;
    padding: 20px 20px;
}
.button a {
    border: 2px solid #000;
    padding: 10px 10px 10px 10px;
}