body {
    margin: 0px;
}
.logo {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 200;
    margin-left: 150px;
    margin-top: 20px;
}
.logo::first-letter {
    color: #1abc9c;
    font-weight: 800;
}
.nav ul {   
    float: right;
    left: -10%;
    position: relative;
    margin-top: -30px;
}
li {
    display: inline-flex;
}
li a {
    font-size: 14px;
    font-family: Open Sans;
    font-weight: bold;
    padding-left: 10px;
    text-transform: uppercase;
    color: #0f0101;
    text-decoration: none;
}
li.first_tab a {
    color: #1abc9c;
}
h4 {
   text-align: center; 
   font-size: 48px;
   font-family: Roboto;
   color: #515151;
   text-transform: uppercase;
}
h4.title::after{
    border-bottom: 5px solid #4ec6ab;
    width: 132px;
    display: inherit;   
}

.row_first .column {
    display: inline-block;
    width: 240px;
    padding-left: 90px;
}
h3 {
    display: inline-block;
}
h3.one {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    background-color: #323232;
    padding: 10px 31px 7px 11px;
}
h3.two {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 15px 7px 11px;
    background-color: #DCDCDC;
}
h3.one:hover {
    background: #626262;
}
h3.two:hover {
    background: #4ec6ab;
}
.row .column2 {
    display: inline-block;
    width: 360px;
    padding-left: 80px;
}
span.title::after {
    content: url(images/rectangle8.png);
    display: block;
}
p {
    font-size: 14px;
    font-family: 'Open Sans';
    line-height: 26px;
    font-weight: 400; 
    width: 350px;  
    padding-bottom: 30px;
}
p.first {
    font-family: 'Open Sans';
    font-weight: 400;
    color: #555252;
    font-size: 18px;
}
p.first::after {
    border-bottom: 5px solid #4ec6ab;
    width: 132px;
    display: inherit;
    padding-bottom: 12px;
    content: '';
}
.button {
    background: #4ec6ab;
    padding: 15px 35px 18px 35px;
    color: #fff;
    font-size: 16px;
    font-family: Open Sans;
}
